*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
/test/lib/generators/marionette_dust/install/templates
/test/lib/generators/marionette_dust/scaffold_and_submodule/templates
